<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>শুভ জন্মদিন, খুলনা বিশ্ববিদ্যালয়!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <div class="row">

    </div>
</div>


<div class="container">
    <div class="header clearfix">

        <h3 class="text-muted">ফেইসবুক প্রোফাইল ফটো জেনারাটের </h3>
    </div>

    <div class="jumbotron">

        এই এ্যাপ্লিকেশনটি ব্যবহার করে আপনি খুব সহজেই আপনার বর্তমান ফেইসবুক প্রোফাইল ফটোর উপরে
        খুলনা বিশ্ববিদ্যালয়ের ২৬তম প্রতিষ্ঠা বার্ষিকীর বিশেষ ব্যাজ যোগ করে নতুন একটি ইমেইজ জেনারেট
        করতে পারবেন । <br/><br/>

        নিরাপত্তা জনিত কারনে থার্ড পার্টি ডেভেলপারদের কে ফেইসবুক সরাসরি প্রোফাইল ফটো পরিবর্তন করার মত এ্যাক্সেস
        দেয় না । তাই এই এ্যাপ্লিকেশন টি শুধুই প্রোফাইল ফটো জেনারেট করতে পারে, ফেইসবুকের নিজস্ব
        ব্যাজ গুলোর মত প্রোফাইল ফটো পরিবর্তন করে দিতে পারে না । জেনারেটেড ফটো টি ডাউনলোড করে
        তাই আপনার ম্যানুয়ালি আপলোড করতে হবে ।<br/><br/>

        এ্যাপ্লিকেশন টি ব্যবহার করা সহজ - <br/>
        <ul>
            <li>নিচের "Start Now" বাটনটি ক্লিক করুন</li>
            <li>ফেইসবুক আপনাকে জিজ্ঞাসা করবে আপনি এই এ্যাপ্লিকেশনটি কে আপনার প্রোফাইল ডিটেইলস এ্যাক্সেস করার
                অনুমতি দিতে চান কিনা । অনুমতি দিন ।
            </li>
            <li>ফেইসবুক আবার আপনাকে এই ওয়েব সাইটে পাঠিয়ে দিবে । একটি ইমেইজ ফাইল দেখাবে বা ডাউনলোড হওয়া শুরু করবে ।
                কোন কোন ব্রাউজার বা মোবাইল ডিভাইসে সরাসরি দেখাবে, কোথাও কোথাও ডাউনলোড করার অনুমতি চাইবে । ফাইলটি সেইভ
                করুন ।
            </li>
            <li>এবার ফেইসবুকে ঢুকে নর্মালি প্রোফাইল ফটো পরিবর্তন করার মত করে নতুন ফটো টি সেট করে দিন!</li>
        </ul>

        <br/><br/>


        <p><a class="btn btn-lg btn-success" href="/logout">Start Now</a></p>
        <br/>

        <hr/>

        <h4>কৃতজ্ঞতা:</h4>

        <ul>
            <li>
                <strong>আইডিয়া ও সমন্বয়ক:</strong> বায়েজীদ খান, প্রভাষক, ডিভেলপমেন্ট স্টাডিজ ডিসিপ্লিন, খুলনা
                বিশ্ববিদ্যালয়
            </li>

            <li><strong>গ্রাফিক্স ডিজাইন:</strong> মো. রাকিবুল ইসলাম রাকিব, বায়োটেকনলজি এ্যান্ড জেনেটিক ইন্জিনিয়ারিং
                ডিসিপ্লিন, খুলনা বিশ্ববিদ্যালয়
            </li>
            <li><strong>ওয়েব এ্যাপ্লিকেশন:</strong> আবু আশরাফ মাসনুন, প্রাক্তন ছাত্র, বিজনেস এ্যাডমিনিস্ট্রেশন ডিসিপ্লিন, খুলনা বিশ্ববিদ্যালয়
            </li>
        </ul>

        <hr/>
        <br/><br/>

        <h4>সোশ্যাল কমেন্টস:</h4>

        আপনার কোন প্রশ্ন, মন্তব্য বা মতামত থাকলে নিচের কমেন্ট সেকশনে জানাতে পারেন - <br/><br/>

        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1845537255723796";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-comments" data-href="http://kuday.masnun.rocks/" data-numposts="10"></div>


    </div>


    <footer class="footer">
        <p>&copy; 2016 - Abu Ashraf Masnun | Code is open source, available on <a
                href="https://github.com/masnun/facebook-profile-photo-generator">Github</a></p>
    </footer>

</div> <!-- /container -->
</body>
</html>