<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BAD Cricket Profile Photo Generator</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    <div class="row">

    </div>
</div>


<div class="container">
    <div class="header clearfix">

        <h3 class="text-muted">BAD Cricket</h3>
    </div>

    <div class="jumbotron">
        <h2>Hey there!</h2><br/>
        <p class="lead">
            Just like the title suggests, this is an automated profile photo geneator to
            support BAD Cricket. If you login with your Facebook account and give it permission,
            the app will add a nice "BAD Cricket" badge to your photo!
            You can then use it as your profile photo or just share with your friends :)
            <br/><br/>

            <strong>Facebook does not allow apps to set your profile photo. We can generate it
                and let you download. You yourself need to set it as your profile photo!</strong>
            <br/><br/>

        </p>
        <p><a class="btn btn-lg btn-success" href="/logout">Generate Now</a></p>
        <br/><br/>

        People who contributed to the app:
        <ul>
            <li><a href="https://www.facebook.com/abu.ashraf.masnun">Abu Ashraf Masnun (09)</a></li>
            <li><a href="https://www.facebook.com/abrar.kd">Abrar Hossain (12)</a> - If you don't like the design, blame
                him!
            </li>
            <li><a href="https://www.facebook.com/aaqibahsan">Aaqib Ahsan (12)</a></li>
        </ul>


    </div>


    <footer class="footer">
        <p>&copy; 2015 - Abu Ashraf Masnun</p>
    </footer>

</div> <!-- /container -->
</body>
</html>